<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Review\Block\Adminhtml\Edit\Form">
        <plugin name="gdmexico_review_lock_form"
                type="GDMexico\ReviewLock\Plugin\Adminhtml\ReviewEditFormPlugin"/>
    </type>

    <type name="Magento\Review\Controller\Adminhtml\Product\Save">
        <plugin name="gdmexico_review_lock_save"
                type="GDMexico\ReviewLock\Plugin\Adminhtml\ReviewSavePlugin"/>
    </type>

    <preference for="Magento\Review\Block\Adminhtml\Grid"
                type="GDMexico\ReviewLock\Block\Adminhtml\Grid"/>

</config>